body {
    background-color: #e0ccff;
}

.pianoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.controls {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}
.button {
    border: 1px solid black;
    margin: 5px;
}
.play {
}
.piano {
    display: flex;
    height: calc((100vw - 30px) * 0.1 * 1.95);
    max-width: calc(100vw - 30px);
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    flex-wrap: nowrap;

    scrollbar-color: rebeccapurple #e0ccff;
    scrollbar-width: thin;
    padding-bottom: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: red;
}
.key {
    border-width: 0px;
    border-radius: 50%;
    width: calc((100vw - 30px) * 0.1);
    aspect-ratio: 1 / 1;
    color: black;
    text-align: center;
    flex-shrink: 0;
    background-color: #a366ff;
}
.key:hover {
    background-color: #944dff;
}
.white {
    align-self: flex-end;
    opacity: 0.9;
}
.black {
    margin-left: calc(-1 * (100vw - 30px) * 0.1 * 0.4);
    margin-right: calc(-1 * (100vw - 30px) * 0.1 * 0.4);
    z-index: 1;

    align-self: flex-start;
    opacity: 0.9;
}
.EKey,
.BKey {
    /*TODO: this is not very responsive */
    margin-right: 10px;
}
.opaque {
    /* Make sure this element also has the class black. These keys act like black keys, but are not.*/
    opacity: 0;
}

.selected {
    border: 1px solid #000000;
    border-width: 3px;
}

.animation-trigger {
    animation-name: playing;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-direction: alternate;
}

@keyframes playing {
    0% {
        border-style: solid;
    }
    50% {
        border-style: dotted;
    }
    100% {
        border-style: solid;
    }
}

.success-animation {
    animation-name: correct-baby;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-direction: ease-in-out;
}

@keyframes correct-baby {
    from {
        background: linear-gradient(
            90deg,
            rgba(131, 58, 180, 1) 0%,
            rgba(253, 29, 29, 1) 50%,
            rgba(252, 176, 69, 1) 100%
        );
        background-position: 0% 50% 100%;
    }
    50% {
        background-position: 100% 50% 0%;
    }
    to {
        background: inherit;
    }
}

.melody {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}
.melody-note {
    width: 50px;
    border: 1px solid black;
    text-align: center;
}

.current {
    border-width: 4px;
}

.correct {
    background-color: lightgreen;
}
.wrong {
    background-color: red;
}
.partially-correct {
    background-color: skyblue;
}
